$layout-name: 'l-setting';

.#{$layout-name} {
    width: 70px;
    height: 70px;
    top: 2rem;
    left: 2rem;
    transition: all .6s;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 50%;
    position: absolute;
    background-color: $color-folk-primary;

    &.is-disabled {
        opacity: 0;
        visibility: hidden;
    }
}