* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 720px;
  margin: 0 auto;
  font-size: 100%; }

.u-color-folk-primary {
  color: #41030D !important; }
.u-color-folk-white {
  color: #FFF !important; }

.u-cursor-pointer {
  cursor: pointer !important; }

.u-font-family-bebas {
  font-family: 'Bebas Neue', sans-serif; }
.u-font-family-garamond {
  font-family: 'Garamond', sans-serif; }
.u-font-family-montserrat {
  font-family: 'Montserrat', sans-serif; }

.u-font-size-0 {
  font-size: 0 !important; }
.u-font-size-7 {
  font-size: .4375rem !important; }
.u-font-size-8 {
  font-size: .5rem !important; }
.u-font-size-9 {
  font-size: .5625rem !important; }
.u-font-size-10 {
  font-size: .625rem !important; }
.u-font-size-11 {
  font-size: .6875rem !important; }
.u-font-size-12 {
  font-size: .75rem !important; }
.u-font-size-13 {
  font-size: .8125rem !important; }
.u-font-size-14 {
  font-size: .875rem !important; }
.u-font-size-15 {
  font-size: .9375rem !important; }
.u-font-size-17 {
  font-size: 1.0625rem !important; }
.u-font-size-18 {
  font-size: 1.125rem !important; }
.u-font-size-25 {
  font-size: 1.5625rem !important; }
.u-font-size-36 {
  font-size: 2.25rem !important; }

.before\:\:u-font-size-0::before {
  font-size: 0 !important; }
.before\:\:u-font-size-7::before {
  font-size: .4375rem !important; }
.before\:\:u-font-size-8::before {
  font-size: .5rem !important; }
.before\:\:u-font-size-9::before {
  font-size: .5625rem !important; }
.before\:\:u-font-size-10::before {
  font-size: .625rem !important; }
.before\:\:u-font-size-11::before {
  font-size: .6875rem !important; }
.before\:\:u-font-size-12::before {
  font-size: .75rem !important; }
.before\:\:u-font-size-13::before {
  font-size: .8125rem !important; }
.before\:\:u-font-size-14::before {
  font-size: .875rem !important; }
.before\:\:u-font-size-15::before {
  font-size: .9375rem !important; }
.before\:\:u-font-size-17::before {
  font-size: 1.0625rem !important; }
.before\:\:u-font-size-18::before {
  font-size: 1.125rem !important; }
.before\:\:u-font-size-22::before {
  font-size: 1.375rem !important; }
.before\:\:u-font-size-40::before {
  font-size: 2.5rem !important; }

.after\:\:u-font-size-0::after {
  font-size: 0 !important; }
.after\:\:u-font-size-7::after {
  font-size: .4375rem !important; }
.after\:\:u-font-size-8::after {
  font-size: .5rem !important; }
.after\:\:u-font-size-9::after {
  font-size: .5625rem !important; }
.after\:\:u-font-size-10::after {
  font-size: .625rem !important; }
.after\:\:u-font-size-11::after {
  font-size: .6875rem !important; }
.after\:\:u-font-size-12::after {
  font-size: .75rem !important; }
.after\:\:u-font-size-13::after {
  font-size: .8125rem !important; }
.after\:\:u-font-size-14::after {
  font-size: .875rem !important; }
.after\:\:u-font-size-15::after {
  font-size: .9375rem !important; }
.after\:\:u-font-size-17::after {
  font-size: 1.0625rem !important; }
.after\:\:u-font-size-18::after {
  font-size: 1.125rem !important; }
.after\:\:u-font-size-22::after {
  font-size: 1.375rem !important; }

@media screen and (min-width: 576px) {
  .sm\:u-font-size-0 {
    font-size: 0 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-7 {
    font-size: .4375rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-8 {
    font-size: .5rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-9 {
    font-size: .5625rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-10 {
    font-size: .625rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-11 {
    font-size: .6875rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-12 {
    font-size: .75rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-13 {
    font-size: .8125rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-14 {
    font-size: .875rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-15 {
    font-size: .9375rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-17 {
    font-size: 1.0625rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-18 {
    font-size: 1.125rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-size-22 {
    font-size: 1.375rem !important; } }

@media screen and (min-width: 768px) {
  .md\:u-font-size-0 {
    font-size: 0 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-7 {
    font-size: .4375rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-8 {
    font-size: .5rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-9 {
    font-size: .5625rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-10 {
    font-size: .625rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-11 {
    font-size: .6875rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-12 {
    font-size: .75rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-13 {
    font-size: .8125rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-14 {
    font-size: .875rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-15 {
    font-size: .9375rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-17 {
    font-size: 1.0625rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-18 {
    font-size: 1.125rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-size-22 {
    font-size: 1.375rem !important; } }

@media screen and (min-width: 992px) {
  .lg\:u-font-size-0 {
    font-size: 0 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-7 {
    font-size: .4375rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-8 {
    font-size: .5rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-9 {
    font-size: .5625rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-10 {
    font-size: .625rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-11 {
    font-size: .6875rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-12 {
    font-size: .75rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-13 {
    font-size: .8125rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-14 {
    font-size: .875rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-15 {
    font-size: .9375rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-17 {
    font-size: 1.0625rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-18 {
    font-size: 1.125rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-size-22 {
    font-size: 1.375rem !important; } }

@media screen and (min-width: 1200px) {
  .xl\:u-font-size-0 {
    font-size: 0 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-7 {
    font-size: .4375rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-8 {
    font-size: .5rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-9 {
    font-size: .5625rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-10 {
    font-size: .625rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-11 {
    font-size: .6875rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-12 {
    font-size: .75rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-13 {
    font-size: .8125rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-14 {
    font-size: .875rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-15 {
    font-size: .9375rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-17 {
    font-size: 1.0625rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-18 {
    font-size: 1.125rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-size-22 {
    font-size: 1.375rem !important; } }

@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-0 {
    font-size: 0 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-7 {
    font-size: .4375rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-8 {
    font-size: .5rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-9 {
    font-size: .5625rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-10 {
    font-size: .625rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-11 {
    font-size: .6875rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-12 {
    font-size: .75rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-13 {
    font-size: .8125rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-14 {
    font-size: .875rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-15 {
    font-size: .9375rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-17 {
    font-size: 1.0625rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-18 {
    font-size: 1.125rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-size-22 {
    font-size: 1.375rem !important; } }

.u-font-weight-light {
  font-weight: 300 !important; }
.u-font-weight-regular {
  font-weight: 400 !important; }
.u-font-weight-medium {
  font-weight: 500 !important; }
.u-font-weight-semibold {
  font-weight: 600 !important; }
.u-font-weight-bold {
  font-weight: 700 !important; }
.u-font-weight-extrabold {
  font-weight: 800 !important; }
.u-font-weight-black {
  font-weight: 900 !important; }

.before\:\:u-font-weight-light::before {
  font-weight: 300 !important; }
.before\:\:u-font-weight-regular::before {
  font-weight: 400 !important; }
.before\:\:u-font-weight-medium::before {
  font-weight: 500 !important; }
.before\:\:u-font-weight-semibold::before {
  font-weight: .6875rem !important; }
.before\:\:u-font-weight-bold::before {
  font-weight: 700 !important; }
.before\:\:u-font-weight-extrabold::before {
  font-weight: 800 !important; }
.before\:\:u-font-weight-black::before {
  font-weight: 900 !important; }

.after\:\:u-font-weight-light::after {
  font-weight: 300 !important; }
.after\:\:u-font-weight-regular::after {
  font-weight: 400 !important; }
.after\:\:u-font-weight-medium::after {
  font-weight: 500 !important; }
.after\:\:u-font-weight-semibold::after {
  font-weight: .6875rem !important; }
.after\:\:u-font-weight-bold::after {
  font-weight: 700 !important; }
.after\:\:u-font-weight-extrabold::after {
  font-weight: 800 !important; }
.after\:\:u-font-weight-black::after {
  font-weight: 900 !important; }

@media screen and (min-width: 576px) {
  .sm\:u-font-weight-light {
    font-weight: 300 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-regular {
    font-weight: 400 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-medium {
    font-weight: 500 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-semibold {
    font-weight: .6875rem !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-bold {
    font-weight: 700 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-extrabold {
    font-weight: 800 !important; } }
@media screen and (min-width: 576px) {
  .sm\:u-font-weight-black {
    font-weight: 900 !important; } }

@media screen and (min-width: 768px) {
  .md\:u-font-weight-light {
    font-weight: 300 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-regular {
    font-weight: 400 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-medium {
    font-weight: 500 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-semibold {
    font-weight: .6875rem !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-bold {
    font-weight: 700 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-extrabold {
    font-weight: 800 !important; } }
@media screen and (min-width: 768px) {
  .md\:u-font-weight-black {
    font-weight: 900 !important; } }

@media screen and (min-width: 992px) {
  .lg\:u-font-weight-light {
    font-weight: 300 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-regular {
    font-weight: 400 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-medium {
    font-weight: 500 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-semibold {
    font-weight: .6875rem !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-bold {
    font-weight: 700 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-extrabold {
    font-weight: 800 !important; } }
@media screen and (min-width: 992px) {
  .lg\:u-font-weight-black {
    font-weight: 900 !important; } }

@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-light {
    font-weight: 300 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-regular {
    font-weight: 400 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-medium {
    font-weight: 500 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-semibold {
    font-weight: .6875rem !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-bold {
    font-weight: 700 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-extrabold {
    font-weight: 800 !important; } }
@media screen and (min-width: 1200px) {
  .xl\:u-font-weight-black {
    font-weight: 900 !important; } }

@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-light {
    font-weight: 300 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-regular {
    font-weight: 400 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-medium {
    font-weight: 500 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-semibold {
    font-weight: .6875rem !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-bold {
    font-weight: 700 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-extrabold {
    font-weight: 800 !important; } }
@media screen and (min-width: 1600px) {
  .xxl\:u-font-weight-black {
    font-weight: 900 !important; } }

.l-block {
  width: 70px;
  height: 70px;
  top: 2rem;
  left: calc(720px - 6rem);
  transition: all .6s;
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 999; }
  .l-block.is-disabled {
    opacity: 0;
    visibility: hidden; }
  .l-block__icon {
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Font Awesome 6 Free'; }
    .l-block__icon::before {
      content: '\f3c1'; }
    .is-active .l-block__icon::before {
      content: '\f023'; }

.l-close {
  top: 2rem;
  right: 2rem;
  position: absolute; }

.l-form {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 10rem;
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: #7412D2;
  z-index: 99999; }
  .l-form.is-show {
    opacity: 1;
    visibility: visible; }

.l-login {
  width: 100%;
  height: 100vh; }

.l-menu {
  width: 720px;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7412D2;
  z-index: 999999; }
  .l-menu.is-show {
    opacity: 1;
    visibility: visible; }
  .l-menu__box {
    width: 70px;
    height: 70px;
    top: 2rem;
    left: 2rem;
    transition: all .6s;
    opacity: 1;
    visibility: visible;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    position: absolute;
    background-color: #41030D; }
    .l-menu__box.is-disabled {
      opacity: 0;
      visibility: hidden; }
  .l-menu__title {
    font-size: 44px;
    font-family: 'bebas Neue';
    letter-spacing: 4px; }
  .l-menu__item {
    margin-bottom: 1rem;
    border-bottom: 2px solid #FFF;
    position: relative;
    list-style: none;
    font-size: 1.75rem;
    font-family: 'Bebas Neue', sans-serif;
    color: #FFF; }
    .l-menu__dropdown .l-menu__item {
      margin-bottom: 0;
      border: 0;
      font-size: 1.375rem; }
    .l-menu__item__dropdown::before {
      content: '\f105';
      top: 7px;
      left: -20px;
      transform: rotate(0deg);
      transition: all .6s;
      position: absolute;
      font-size: 1rem;
      font-weight: 900;
      font-family: 'Font Awesome 6 Free'; }
    .l-menu__item.is-active::before {
      transform: rotate(90deg); }
  .l-menu__dropdown {
    display: none; }
    .is-active .l-menu__dropdown {
      display: block; }

.l-notification {
  width: 320px;
  height: auto;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  word-break: break-word;
  background-color: #7412D2; }
  .l-notification.is-show {
    top: 50px;
    opacity: 1;
    visibility: visible; }

.l-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .6s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: transparent;
  z-index: 99; }
  .l-overlay.is-active {
    opacity: 1;
    visibility: visible; }

.l-raffle {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .l-raffle__title {
    font-size: 1.8125rem; }
  .l-raffle__box {
    width: 650px; }
  .l-raffle__item {
    width: 65px;
    height: 70px;
    border: 1px solid #41030D; }
    .l-raffle__item.is-active::before {
      content: '';
      width: 10px;
      height: 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      position: absolute;
      border-radius: 50px;
      background-color: cyan; }

/*# sourceMappingURL=main.css.map */
